<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TransitApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4F60557D1C8A0A9A00DECC50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F6055941C8A0A9A00DECC50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F60559F1C8A0A9A00DECC50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
